body {
    background: black;
    max-width: 1280px;
    cursor: none;
}

#mouse-circle {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: -32px 0 0 -32px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    filter: blur(20px);
}

.maincontent {
    display: flex;
    flex-direction: column;
}

.maincontent-itmes {
    margin: 20px;
}


.bodytext {
    max-height: 520px;
    overflow-y: scroll;
    margin-top: 30px;
    max-width: 550px;
}

.nav {
    background-color: transparent;
    margin-top: 120px;
    max-width: 550px;
    height: 452px;
    left: 750px;
}


.circle1 {
    background-color:transparent;   
    width: 100%;
    margin-left: 100px;
    height:105px;
    box-sizing: border-box;
}

.circle1 a:hover {
    color: #FFE49F;
}

.circle2 {
    display: inline-block;
    text-align: right;
    background-color:transparent;    
    width: 100%; 
    height: 105px;
    box-sizing: border-box;
}

.circle2 a:hover {
    color: #B0D5FF;
}

.circle3 {
    background-color:transparent; 
    display: inline-block;  
    width: 100%;
    height: 105px;
    box-sizing: border-box;
}

.circle3 a:hover {
    color: #95FFE6;
}

.circle4 {
    background-color:transparent;  
    display: inline-block; 
    width: 100%;
    height:  105px;
    text-align: center;
    box-sizing: border-box;
}

.circle4 a:hover {
    color: #B69DFD;
}

.circle5 {
    background-color: transparent;  
    display: inline-block; 
    width: 100%;
    height: 105px;
    text-align: left;
    box-sizing: border-box;  
}

.circle5 a:hover {
    color: #DC3535;
}

.nav {
    position: absolute;
    top: 100px;
    width: 50%;
    right: 0;
}

.text1 {
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.text1-active {
    color: #FFE49F;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #ab88ec, 0 0 40px #ab88ec, 0 0 50px #ab88ec, 0 0 60px #ab88ec, 0 0 70px #ab88ec ;
}

.text2 {
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    text-align: right;
    right: 0;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.text2-active {
    color: #B0D5FF;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #ab88ec, 0 0 40px #ab88ec, 0 0 50px #ab88ec, 0 0 60px #ab88ec, 0 0 70px #ab88ec ;
}

.text3 {
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
}

.text3-active {
    color: #95FFE6;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #ab88ec, 0 0 40px #ab88ec, 0 0 50px #ab88ec, 0 0 60px #ab88ec, 0 0 70px #ab88ec ;
}

.text4 {
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 230px;
}

.text4-active {
    color: #B69DFD;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #ab88ec, 0 0 40px #ab88ec, 0 0 50px #ab88ec, 0 0 60px #ab88ec, 0 0 70px #ab88ec ;
}

.text5 {
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    margin-left: 110px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.text5-active {
    color: #DC3535;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #ab88ec, 0 0 40px #ab88ec, 0 0 50px #ab88ec, 0 0 60px #ab88ec, 0 0 70px #ab88ec ;
}

h1 {
    position: absolute;
    width: 591px;
    height: 439px;
    left: 786px;
    top: 282px;
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {color: white;}
    50%  {color: black;}
    100%  {color: white;}
}

p {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    nav-left: 0;
    top:140px;
    font-family: 'Mandali', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

p {
    color: black;
}

.myself,.myself1, .myself2, .myself3, .myself4, .myself5, .myself6, .myself7, .myself8, .myself9, .myself10, .myself11, .myself12, .myself13{
    color: black;
}

.myself-active, .myself1-active, .myself2-active, .myself3-active, .myself4-active, .myself5-active, .myself6-active, .myself7-active, .myself8-active, .myself9-active, .myself10-active, .myself11-active, .myself12-active, .myself13-active {
    color: #FFE49F;
}

.mother, .mother1, .mother2, .mother3, .mother4, .mother5, .mother6, .mother7{
    color: black;
}

.mother-active, .mother1-active, .mother2-active, .mother3-active, .mother4-active, .mother5-active, .mother6-active,  .mother7-active{
    color: #B69DFD;
}

.brother, .brother1,.brother2,.brother3, .brother4, .brother5, .brother6{
    color: black;
}

.brother-active, .brother1-active, .brother2-active,.brother3-active, .brother4-active, .brother5-active, .brother6-active  {
    color: #B0D5FF;
}

.uncle, .uncle1, .uncle2, .uncle3, .uncle4, .uncle5, .uncle6 {
    color: black;
}

.uncle-active, .uncle1-active, .uncle2-active, .uncle3-active, .uncle4-active, .uncle5-active, .uncle6-active {
    color: #95FFE6;
}

.mark, .mark1, .mark2, .mark3, .mark4 {
    color: black;
}

.mark-active, .mark1-active, .mark3-active, .mark4-active {
    color: #DC3535;
}


.button1 {
    position: absolute;
    top: 80px;
    left: 1050px;
    vertical-align: bottom;
    width: 550px;
    align-content: center;
    height: 70px;
}

.button1 a:hover {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #ab88ec, 0 0 40px #ab88ec, 0 0 50px #ab88ec, 0 0 60px #ab88ec, 0 0 70px #ab88ec ;
}


.reveal {
    font-family: 'Abhaya Libre', serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 59px;
    color: #FFFFFF;
    text-decoration: none;
}
